@charset "utf-8";

@font-face {
    font-family: 'Patrick Hand';
    src: url(../fonts/PatrickHand-Regular.ttf) format('ttf');
    src: url(../fonts/PatrickHand-Regular.woff) format('woff');
}

html{
    background-color: black;
    background-image: url(../imgs/page1_bg.jpg);
}

body {
   width: 95%;
   min-width: 640px;
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   background-image: url(../imgs/abstract-black-and-gold-background-free-vector.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

body h1 {
    font-family: 'Patrick Hand';
    font-size: 50px;
    text-align: center;
    color: #8272FC;
}

body article p {
    font-family: 'Patrick Hand';
    font-size: 32px;
    position: relative;
    color: #8272FC;
    display: block;
    padding-right: 30%;
    padding-left: 30%;
    text-align: center;
}

footer {
    font-family: 'Patrick Hand';
    font-size: 32px;
    position: relative;
    color: lightgrey;
    display: block;
}

a:link, a:visited {
  background-color: #ff1706;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.7em;
}

a:hover {
    background-color: rgba(255, 38, 74, 0.877);
}

img {
    display: block;
	width: 100%;
    position: relative;
    padding-left: 100%;
}